In [1]:
from urllib import request
from bs4 import BeautifulSoup
import pandas as pd
import re

In [2]:
def getTestdata(url):
    link = url
    html_page = request.urlopen(link);
    soup = BeautifulSoup(html_page,'lxml')
    table = soup.find_all('table',class_="engineTable")
    data = table[2].get_text()
    #Rough cleaning to store as an excel file
    clean_data = re.sub('(\\n)',',',data)
    clean_data = re.sub('(,,,,|,,,|,,)',' \n ',clean_data)
    clean_data = re.sub(',',' \t ',clean_data)
    with open('TestStats1.csv','a') as f:
        f.write(clean_data)
    print("Successfully got the data.")

In [3]:
url = "http://stats.espncricinfo.com/ci/engine/stats/index.html?class=1;page={};template=results;type=batting"

In [4]:
for i in range(1,3):
    getTestdata(url.format(i))

Successfully got the data.
Successfully got the data.

In [16]:
df = pd.read_csv('TestStats1.csv',sep='\t')

In [7]:
df

,,,,,,,,,,Overall figures
Player,Span,Mat,Inns,NO,Runs,HS,Ave,100.0,50.0,0.0
SR Tendulkar (INDIA),1989-2013,200,329,33,15921,248*,53.78,51.0,68.0,14.0
RT Ponting (AUS),1995-2012,168,287,29,13378,257,51.85,41.0,62.0,17.0
JH Kallis (ICC/SA),1995-2013,166,280,40,13289,224,55.37,45.0,58.0,16.0
R Dravid (ICC/INDIA),1996-2012,164,286,32,13288,270,52.31,36.0,63.0,8.0
...,...,...,...,...,...,...,...,...,...,...
A Ranatunga (SL),1982-2000,93,155,12,5105,135*,35.69,4.0,38.0,12.0
Zaheer Abbas (PAK),1969-1985,78,124,11,5062,274,44.79,12.0,20.0,10.0
BA Stokes (ENG),2013-2022,79,146,5,5061,258,35.89,11.0,26.0,13.0
Mushfiqur Rahim (BAN),2005-2022,80,148,12,4932,219*,36.26,7.0,25.0,12.0
AM Rahane (INDIA),2013-2022,82,140,12,4931,188,38.52,12.0,25.0,10.0

In [8]:
newdf = df.drop(df.columns[1], axis = 1)

In [9]:
newdf

 Player                  Span        Mat   Inns   NO   Runs    HS     Ave    100.0  50.0
 SR Tendulkar (INDIA)    1989-2013   200   329    33   15921   248*   53.78  51.0   68.0
 RT Ponting (AUS)        1995-2012   168   287    29   13378   257    51.85  41.0   62.0
 JH Kallis (ICC/SA)      1995-2013   166   280    40   13289   224    55.37  45.0   58.0
 R Dravid (ICC/INDIA)    1996-2012   164   286    32   13288   270    52.31  36.0   63.0
...                                                                                  ...
 A Ranatunga (SL)        1982-2000   93    155    12   5105    135*   35.69  4.0    38.0
 Zaheer Abbas (PAK)      1969-1985   78    124    11   5062    274    44.79  12.0   20.0
 BA Stokes (ENG)         2013-2022   79    146    5    5061    258    35.89  11.0   26.0
 Mushfiqur Rahim (BAN)   2005-2022   80    148    12   4932    219*   36.26  7.0    25.0
 AM Rahane (INDIA)       2013-2022   82    140    12   4931    188    38.52  12.0   25.0

[207 rows x 1 columns]

In [10]:
newdf1 = pd.DataFrame(df[df.columns[1]], columns = ['Player','Span','Mat','Inns','NO','Runs','HS','Ave','100.0','50'])

In [14]:
newdf

 Player                  Span        Mat   Inns   NO   Runs    HS     Ave    100.0  50.0
 SR Tendulkar (INDIA)    1989-2013   200   329    33   15921   248*   53.78  51.0   68.0
 RT Ponting (AUS)        1995-2012   168   287    29   13378   257    51.85  41.0   62.0
 JH Kallis (ICC/SA)      1995-2013   166   280    40   13289   224    55.37  45.0   58.0
 R Dravid (ICC/INDIA)    1996-2012   164   286    32   13288   270    52.31  36.0   63.0
...                                                                                  ...
 A Ranatunga (SL)        1982-2000   93    155    12   5105    135*   35.69  4.0    38.0
 Zaheer Abbas (PAK)      1969-1985   78    124    11   5062    274    44.79  12.0   20.0
 BA Stokes (ENG)         2013-2022   79    146    5    5061    258    35.89  11.0   26.0
 Mushfiqur Rahim (BAN)   2005-2022   80    148    12   4932    219*   36.26  7.0    25.0
 AM Rahane (INDIA)       2013-2022   82    140    12   4931    188    38.52  12.0   25.0

[207 rows x 1 columns]

In [ ]:
finaldf